extends default

block header

block content
  div.profile
    div.profile-image
      img(src='\\' + enemy.image style='width: auto; height: 100%;')
    div.profile-details
      h1.profile-name
        | #{enemy.name}
      h2.profile-tagline
        | Health: #{enemy.health}
      p(style='white-space: pre;')
        | X-Position: #{enemy.positionX}
        | Y-Position: #{enemy.positionY}
      p
        a(href='/') 
          strong Back to Enemy List